$icon-font-path: '../fonts/';

// bower:scss
// endbower

//Main branding
$primary: "#2E51A1"
$accent: "#FEDF01"

//Text colors
$text-color: "#4A4A4A"


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  font-family: 'Arial', sans-serif;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 968px;
  margin: 0 auto;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

ul {
  li {
    display: inline;
  }
}

nav {
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
}

.--nav-logo {
  float:left;

  .--nav-title {
    display: inline;
    margin-left: 14px;
    font-size: 24px;
  }

}

.--nav-links {
  display:inline;
  float:right;

  li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sign-in {
    font-size: 14px;
  }
}

.--nav-links.col-md-10 {
  margin-top: 33px;
  margin-bottom: 0px;
}
